/* scss */

/* Varabiles global */
$fontColor:#0A0102;
$fontSize:12px;
$fontWeight:normal;
$buttonSize:11px!important;;

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $fontColor;
  font-weight: $fontWeight;
  font-size: $fontSize;
  background-color: #FAFAFA;
}

.headerName{
  font-size: 25px;
  font-weight: normal;
}

h2{
  font-size: 25px;
  font-weight: normal;
  margin: 1rem;
}

button {
  font-size:$buttonSize;
  border-radius: unset !important;
  font-family: 'Lato', sans-serif!important;
}

.css-46bh2p-MuiCardContent-root {
  padding: 21px 18px 21px 36px !important
 
}

h6{
  font-size:14px;
}

.css-1bnap8s-MuiTypography-root {
  font-family: 'Lato', sans-serif!important;
}

.css-o69gx8-MuiCardMedia-root{
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border-radius: 2px 2px 0px 0px;
  opacity: 1;
  object-fit: contain!important;
  padding: 16px 0px;
}

.css-1w5ymjp-MuiPaper-root-MuiCard-root{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E2E2E2!important;
box-shadow: none!important;
opacity: 1;
}


.css-10r5to9-MuiCardActions-root{
  padding: 5px 23px 10px 23px!important;
  justify-content: space-between!important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  padding:3.5px 12px 3.5px 0px !important
}

.css-4xtla9-MuiFormControl-root{
  margin: 1rem 0rem!important;
}

.css-96uuyl{
  background-color:#FFFFFF!important;
}

.css-1iz4iln{
  color:#9D9D9D!important
}

.css-1kcggdq-MuiInputBase-root{
  color:#9D9D9D!important
}

@media (min-width: 900px) {
.css-1kcggdq-MuiInputBase-root .MuiInputBase-input{
  width: 40ch!important;
} }

.css-78trlr-MuiButtonBase-root-MuiIconButton-root{
  color: rgb(255, 255, 255)!important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  font-size: 12px!important;
}

.count{
text-align: left;
font: normal normal normal 12px/15px Lato;
letter-spacing: 0px;
color: #9D9D9D;
opacity: 1;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
  font-size:12px!important;
}

.headerBar{
  margin: 1.33rem 1rem 0rem 0rem;
}

// Footer

.footertext{
  color: white;text-align: center;margin-left: 100px;margin-top: 3px;
}

footer{
  background-color: #2E1D1E ;padding: 10px;margin-top:48px;
}


// Signup form

.css-vj1n65-MuiGrid-root
{
  padding:4% !important;
}



//Cart item

.cart-text{
  font-size:1.2rem;
  padding: 21px 18px 21px 36px !important
}

.cart-address-text{
  padding: 21px 18px 21px 36px !important;
  font-size: 1.2rem;
}

//cart box css

.cart-box-three {
  width: 92%;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


// Final Order page css

.hurray{
  text-align: center;
font: normal normal normal 18px/22px Lato;
letter-spacing: 0px;
color: #333232;
opacity: 1;
}



.order-final-box{
  width: 100%;
  height: 21vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}